---
import MainLayout from '../../layouts/MainLayout.astro';

title: "Atomic Habits"
author: "James Clear"
category: "Productivity"
cover: "/images/atomic-habits.jpg"
---

<MainLayout title={Astro.props.title}>
  <h1>{Astro.props.title}</h1>
  <p><em>by {Astro.props.author}</em></p>
  <hr />
  <p>An atomic habit is a regular practice or routine that is not only small and easy to do but is also the source of incredible power; a component of the system of compound growth.</p>
  <p>Bad habits repeat themselves again and again not because you don't want to change, but because you have the wrong system for change. You do not rise to the level of your goals. You fall to the level of your systems.</p>
</MainLayout>